<%= content_tag(:li, class:"#{machine.list_item_class}") do %>
 <span > <%= machine.position_label %>
   <%= machine.machine_link %>  
   <%= content_tag(:span, class:"event_links btn-toolbar pull-right") do  %>
     <% machine.next_steps.each do |step| %>
       <% if machine.has_form_input(step) %>
         <%= machine.event_form(step) %>
       <% else %>
         <%= link_to machine.event_path(step) ,method: :patch, class: 'btn btn-primary pull-right pull-xs-right' do  %>
           <%=  step %>
           <%= machine.event_icon(step) %>
         <%end %>
       <% end %>
     <%end %>
   <% end %>
   </span>
<!-- <div class="machine_info">
 -->  <ul class="available_dryers list-inline ">
    <%= machine.machine_info %>

  </ul>
  <!-- </div> -->
<% end %>
