<%= content_tag(:li, class:"machine_link_list #{machine.list_item_class}") do %>
  <span > <%= machine.position_label %>
    <%= machine.class %>
    <%#= "current_or_guest_user" %>
    <%#= current_or_guest_user %>
    <%= machine.machine_link %>
    <% if user_signed_in? %>
      <%#= "current_user can use machine? #{current_user.username}" %>
      <%#= can? :use, machine %>
      <%#= "available?" %>
      <%#= machine.state ==  "available" %>
      <%#= "claim?" %>
      <%#= can? :claim, machine %>
      <%#= "read?" %>
      <%#= can? :read, machine %>
      <%#= current_ability %>
    <% end %>
    <% if can? :use, machine %>
      <%= content_tag(:span, class:"machine_event_links btn-toolbar pull-right") do  %>
        <% machine.next_steps.each do |step| %>
          <% if machine.has_form_input(step) %>
            <%= machine.event_form(step) %>
          <% elsif step !="end_cycle" %>
            <%= link_to machine.event_path(step) ,method: :patch, class: 'btn btn-primary pull-right pull-xs-right' do  %>
              <%=  step %>
              <%= machine.event_icon(step) %>
            <% end %>
          <% elsif can? :hard_reset, machine  %>
            <%= link_to machine.event_path("hard_reset") ,method: :patch, class: 'btn btn-primary pull-right pull-xs-right' do  %>
              <%=  "hard_reset" %>
              <%= machine.event_icon("hard_reset") %>
              <%#end %>
            <%end %>
          <% end %>
        <%end %>
      <% end %>
    <% end %>
  </span>
  <!-- <div class="machine_info">
 -->
  <ul class="machine_info_list clearfix available_dryers list-group list-inline  ">
    <%= machine.machine_info %>
  </ul>
  <!-- </div> -->
<% end %>
