<div class="page-header">
  <%= link_to new_load_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Load
  <% end %>
  <h1>My Loads</h1>
  <h2>My info</h2>
  <p> <%= "I currently have #{current_user.laundry}lbs. of laundry" %></p>
  <p><%= "I currently have #{current_user.coins} coins" %></p>
</div>

    <%#= render partial: "loadLink", collection: current_user.loads.decorate, as: :load %>
<ul class="dirty_loads list-group bg-info">
    <h1>Dirty Loads</h1>
    <%= render partial: "loadLink", collection: current_user.loads.with_dirty_state.decorate, as: :load %>
  </ul>
  <ul class="in_washer_loads list-group bg-info">
    <h1> Loads in washers </h1>
    <%= render partial: "loadLink", collection: current_user.loads.with_in_washer_state.decorate, as: :load %>
  </ul>

<ul class="wet_load list-group bg-info">
    <h1>Wet Loads</h1>
    <%= render partial: "loadLink", collection: current_user.loads.with_wet_state.decorate, as: :load %>
  </ul> 
  <ul class="in_dryer_loads list-group bg-info">
    <h1> Loads in Dryers </h1>
    <%= render partial: "loadLink", collection: current_user.loads.with_in_dryer_state.decorate, as: :load %>
  </ul>
  <ul class="clean_load list-group bg-info">
    <h1>Clean Loads</h1>
    <%= render partial: "loadLink", collection: current_user.loads.with_clean_state.decorate, as: :load %>
  </ul> 

