<%= simple_form_for(@washer.becomes(Washer)) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :position %>
    <%#= f.input :type %>
    <%= f.input :type, collection: @subclasses, label: "Washer Type", include_blank: false %>
    <%#= f.input :state %>
    <%#= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
