<div class="page-header">
  <%= link_to washers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_washer_path(@washer), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <%#= select_tag(:load, options_from_collection_for_select(Load.all, "id", "weight"), id: "washer#{washer.id}Load") %>
  <%#= link_to fill_washer_path( @washer.becomes(Washer), fill: 'fill',  load: params[:load]) %>
  <h1>Show washer</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @washer.name %></dd>

  <dt>Position:</dt>
  <dd><%= @washer.position %></dd>

  <dt>Type:</dt>
  <dd><%= @washer.type %></dd>

  <dt>State:</dt>
  <dd><%= @washer.state %></dd>

  <dt>User:</dt>
  <dd><%= @washer.user %></dd>
  <% if @washer.load == true %>
    <dt>Load:</dt>
  <dd><%= @washer.load.weight %></dd>

  <%end %>
 
</dl>
<ul class="list-group bg-info">
  <%#= @washers.length %>
  <%#= @washer %>
  <%= @washer.washer_list_item %>
  <%#= render partial: "washer", collection: @washers, as: :washer %>
</ul>
